@import './../../vars.scss';

div {
	padding: $padding;
	background-color: $background;
	text-align: center;
	* {
		display: block;
		margin: auto;
		margin-bottom: $gap;
	}
	h1 {
		margin-top: $gap;
		color: $color;
	}
}
